@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.modal {
  display: none;
  background-color: #0000007a;
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  color: #fff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.modalContent{
  background-color: #000000c7;
  margin: auto;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
  border-radius: 8px; 
  min-height: fit-content;
  animation-name: modalopen;
  animation-duration: 0.4s;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 600px) {
  .modalContent {
  width: 100%;
    /* background-color: lightblue; */
  }
}
@keyframes modalopen {
  from {opacity: 0;}
  to {opacity: 1;}
}

#modalInner {
  flex: 70%;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  border-right: 1px solid white;
}

.seatPrice {
  flex: 30%;
  list-style: none;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 20px;
}

.seatPrice li {
  margin-top: 15px;
  margin-bottom: 15px;
  
}

@media screen and (max-width: 970px) {
  .modalContent {
    flex-direction: column;
  }

  #modalInner {
    border-right: none;
  }

  .seatPrice {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}

.showcase {
  width: fit-content;
}

.container {
  perspective: 1000px;
  /* margin-bottom: 30px; */
  padding-top: 10rem;
}

.seat {
  background-color: #f83030;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #fff;
}

.seat.occupied {
  background-color: #444451;
}

.seat:nth-of-type(5) {
  margin-right: 18px;
}

.seat:nth-last-of-type(3) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.verticalLine {
  height: 5.5em;
  /* border-right: solid #0bc0f2; */
  position: absolute;
  right: 96%;
  width: 1.25em;
  writing-mode: vertical-rl;
  background: #0bc0f2;
  text-align: center;
  color: purple;
  font-weight: bold;
}
.urli {
  height: 5.5em;
  width: 1.25em;
  writing-mode: vertical-rl;
  background: #0bc0f2;
  text-align: center;
  /* width: 2em; */
  position: absolute;
  right: 0%;
  color: purple;
  font-weight: bold;
}
.drli {
  height: 10em;
  width: 1.25em;
  writing-mode: vertical-rl;
  background: #0ff20b;
  text-align: center;
  /* width: 2em; */
  padding-top: 2.3em;
  position: absolute;
  right: 0%;
  margin-top: 5.5em;
  color: purple;
  font-weight: bold;
}
.dvl {
  height: 10em;
  width: 1.25em;
  writing-mode: vertical-rl;
  background: #0ff20b;
  text-align: center;
  /* width: 2em; */
  padding-top: 2.3em;
  position: absolute;
  margin-top: 5.5em;
  right: 96%;
  color: purple;
  font-weight: bold;
}
/* added new css */
.notavail {
  background-color: #f83030;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
}
.notavail:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  /* color:black; */
  font-weight: bold;
}
/* .notavail:nth-of-type(4) {
  margin-right: 18px;
} */
.notavail:nth-last-of-type(3) {
  margin-left: 18px;
}
.notthere{ 
  opacity: 0;
}
.cheap{
  background-color: rgb(0, 117, 128);
}
.exp{
  background-color: rgb(238, 27, 27);
}
/* #processRequest{
  background: rgb(244, 212, 200);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 1em 2em;
  color: rgb(174, 42, 42);
  border: 0;
  margin-top: 20px;
} */
/* #processRequest {
  background: coral;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  margin-top: 20px;
}

#processRequest:hover {
  background: #333;
}
 */
 #processRequest{
  border: 1px solid #0066cc;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

#processRequest:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

#processRequest:disabled,
#processRequest[disabled]{
  border: 1px solid #999999;
  background-color: #b8b4b4;
  color: #666666;
  padding: 5px 10px;

}
.paymentclass{
  border-radius: 3.5em;
  margin: 6em 2.5em;
  color: white;
  background-image: linear-gradient(260deg, #680bd3 0%, #ff1515 100%);
  border: solid 5px #cb1156;
  text-align: center;
  /* width: fit-content; */
  /* display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.pbtn{
  border: 1px solid #0066cc;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0099cc;
  color: #ffffff;
  border-radius: 1em;
  padding: 5px 10px;
  cursor: pointer;
}
  
.row_number{
  width: 1em;
  padding-right: 1em;
}
.row_right_number{
  /* width: 1em; */
  padding-left: 1em;
}

.first_class1{
  background-color: rgb(231, 22, 151);
}
.second_class2{
  background-color: rgb(44, 245, 61);
 }
.third_class3{
  background-color: rgb(76, 26, 228);
 }

 .price_divv0{
    padding: 0.1em;
    text-align: center;
    background-color: rgb(231, 22, 151);
    width: fit-content;
    margin-left: 15rem;
    border-radius: 0.4em;
  
 }
 .price_divv1{
  padding: 0.1em;
  text-align: center;
  width: fit-content;
  margin-left: 15rem;
  border-radius: 0.4em;
  background-color: rgb(44, 245, 61);
 }
 .price_divv2{
  padding: 0.1em;
  text-align: center;
  width: fit-content;
  margin-left: 15rem;
  border-radius: 0.4em;
  background-color: rgb(76, 26, 228);
 }